<% include partials/head.ejs %>
<div class="container">
  <p>
    Landing Page  
  </p>
  You this app to track and analyze your finances.
  We do not collect any information. Your information is your information.
  Take back your privacy.
<a href="./login">Login</a>
<a href="./register">Register</a>

</div>


<% include partials/foot.ejs %>
